/* #gallery {
   background: #f6f6f6;
   height: 829px;
   border-radius: 25px;
   margin: 48px 0;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 48px;
   grid-row-gap: 48px;
} */
