* {
   font-family: 'Montserrat', sans-serif;
   color: black;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   max-width: 1440px;
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 0 auto;
}

#main-container {
   max-width: 1400px;
   width: 100%;
   /* padding: 48px; */
}

main {
   margin: 0px 100px;
}

#gallery {
   background: #f6f6f6;
   padding: 48px;
   border-radius: 25px;
   margin: 48px 0;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 48px;
   grid-row-gap: 48px;
}
